body{
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 500%;
  margin-top: 0;
  font-family: 'Pacifico', cursive;
}



.top-container{
  background-color: #e3fdfd;
  padding-top: 100px;
}

.middle-container{

}

.bottom-container{

}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;

}

.bottom-cloud{
  position: absolute;
  left: 400px;
}
